<!DOCTYPE html>
<html>
<title>ToDo's List Restfull web service</title>

<xmp theme="united" style="display:none;">
# How to use

## ToDo's

This service offers an API made in python and Flask Restfull. You can find an example of client in http://warm-scrubland-1215.herokuapp.com/index.html using the following credentials `user:todo` `password:ws`
<br>
Plus, you can handle a list of tasks(or Todo's) creating, updating, deleting and requesting them using the **restfull API**.

## API

The following table shows the http methods that are ready to use.

<table class="data">
<tr><th>HTTP Method</th><th>URI</th><th>Action</th></tr>
<tr><td>GET</td><td>http://warm-scrubland-1215.herokuapp.com/todo/api/v1.0/tasks</td><td>Retrieve list of tasks</td></tr>
<tr><td>GET</td><td>http://warm-scrubland-1215.herokuapp.com/todo/api/v1.0/tasks/[task_id]</td><td>Retrieve a task</td></tr>
<tr><td>POST</td><td>http://warm-scrubland-1215.herokuapp.com/todo/api/v1.0/tasks</td><td>Create a new task</td></tr>
<tr><td>PUT</td><td>http://warm-scrubland-1215.herokuapp.com/todo/api/v1.0/tasks/[task_id]</td><td>Update an existing task</td></tr>
<tr><td>DELETE</td><td>http://warm-scrubland-1215.herokuapp.com/todo/api/v1.0/tasks/[task_id]</td><td>Delete a task</td></tr>
</table>

<p>The only resource exposed by this service is a "task", which has the following data fields:</p>
<ul>
<li><strong>uri</strong>: unique URI for the task. String type.</li>
<li><strong>title</strong>: short task description. String type.</li>
<li><strong>description</strong>: long task description. Text type.</li>
<li><strong>done</strong>: task completion state. Boolean type.</li>
</ul>


## References

This project and the original code is taken from Miguel Grinberg tutorial http://blog.miguelgrinberg.com/post/designing-a-restful-api-using-flask-restful
<br>
All styles of this webpage are taken from an amazinf markdown theme http://strapdownjs.com


</xmp>

<script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>
</html>